<form id="shopping-display" action="/shopping-list" method="get">
  <ul class="form-grid">
    <li class="form-item item-border">
      <h3>Name</h3>
      {{#each list}}
      <p>{{this.full_name}}<p>
      {{/each}}
    </li>
    <li class="form-item item-border">
      <h3>Item</h3>
      {{#each list}}
      <p>{{this.item}}<p>
      {{/each}}
    </li>
    <li class="form-item item-border">
      <h3>Quantity</h3>
      {{#each list}}
      <p>{{this.quantity}}<p>
      {{/each}}
    </li>
    <li class="form-item item-border">
      <h3>Approximate price</h3>
      {{#each list}}
      <p>{{this.price}}<p>
      {{/each}}
    </li>
  </ul>

  <!-- <ul>
    {{#each list}}
      <li>item: {{this.item}} quantity: {{this.quantity}} price: {{this.price}}</li>
    {{/each}}
  </ul> -->
  <div class="clear"></div>
  <button type="submit">Add your item</button>
</form>
